<div class="aboutmepls">
  <div class="container">
    <!-- title -->
    <div class="text-center text-light text-bold pt-1">
      <h1 class="display-4 pt-4">
        <b>About Me</b>
      </h1>
      <hr class="my-4">
    </div>
    <!-- details -->
    <div class="row">
      <div class="col-xs-7 pr-5 pl-5 pb-5 pt-4">
          <div class="card-img-wrap rounded-circle">
              <img src="/assets/img/dp.jpg" >
          </div>
      </div>
      <div class="col-xs-5 pb-4 pt-4 pl-5">
        <h3 class = "display-5">What I do</h3>
        <p>Cyka Blyat idi nahui
            Cyka Blyat idi nahui
            Cyka Blyat idi nahui
            Cyka Blyat idi nahui
        </p>
        
        <h3 class = "display-5">What I done</h3>
        <p>kurwa svlan</p>
      </div>
    </div>
  </div>
</div>