img {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.container {
    background-color: #00adb5;
    margin: 0;
    padding: 0;
    text-align: center;
}