
<footer class="page-footer font-small bg-dark pt-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-1">
        <a href=""><img src="assets/img/twitterlogo.png"></a>
      </div>
      <div class="col-md-1">
        <a href=""><img src="assets/img/twitterlogo.png"></a>
      </div>
      <div class="col-md-1">
        <a href=""><img src="assets/img/twitterlogo.png"></a>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="footer-copyright text-center py-3 text-light">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
      </div>
    </div>
  </div>
</footer>
