<!-- <div class="row justify-content-center">
  <div class="col-md-1">
    <a href=""><img src="assets/img/twitterlogo.png"></a>
  </div>
  <div class="col-md-1">
    <a href=""><img src="assets/img/twitterlogo.png"></a>
  </div>
  <div class="col-md-1">
    <a href=""><img src="assets/img/twitterlogo.png"></a>
  </div>
</div> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


<div id="contact" class="container-fluid"><!-- container-fluid -->

  <div class="row justify-content-center"><!-- row -->
    <div class="col-sm-2 text-center"><!-- col-sm-2 -->
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-envelope fa-stack-1x fa-fw" alt="E-mail"></i>
      </span>&nbsp; <a href="mailto:{{email}}"> {{emailCap}} </a>
    </div><!-- /col-sm-2 -->

    <div class="col-sm-2 text-center">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-linkedin-square fa-stack-1x fa-fw" alt="LinkedIn"></i>
      </span>&nbsp; <a href={{linkedIn}} target="_blank"> {{linkedInCap}} </a>
    </div>

    <div class="col-sm-2 text-center">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-twitter fa-stack-1x fa-fw" alt="Twitter"></i>
      </span>&nbsp; <a href="{{twitter}}" target="_blank"> {{twitterCap}} </a>
    </div>

    <div class="col-sm-2 text-center"><!-- col-sm-2 -->
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-github fa-stack-1x fa-fw" alt="Github"></i>
      </span>&nbsp; <a href="{{gitHub}}" target="_blank"> {{gitHubCap}} </a>
    </div><!-- /col-sm-2 -->

  </div><!-- /row -->
</div>