
.jumbotron {
    position: relative;
    background: url("/assets/img/bg1.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.homehead {
    font-size: 48px;
    text-shadow: 5px;
}

.homesubhead {
    font-size: 24px;
    text-shadow: 5px;
}

