<div class="homepls">
    <div class="container pt-5 pb-5">
        <div class="jumbotron">
            <h2 class="display 4 text-center">Products</h2>
            <hr class="my-4">
            <div id="prod-row" class="row">
                <div class="col-md-4">
                    <a href="https://www.youtube.com/">
                        <div class="card">

                            <div class="card-img-wrap">
                                <img class="card-img-top" src="/assets/img/dp.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Body</p>
                            </div>
                        </div>
                    </a>
                </div>
                <app-work>
                </app-work>
            </div>
        </div>
    </div>
</div>