
.homepls {
    position: relative;
    background: url("/assets/img/bg4.jpg") center center;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: all 0.5s;
    overflow: hidden;
}

.homepls:hover{
    transition: all 0.7s;
    background-size: 105% 105%;
}

.jumbotron {
    background: none;
}
hr{
    height: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: none;
}