<div class="homepls">
    <div class="container pt-4 pb-5">
        <div class="jumbotron">
            <div class="text-center text-light text-bold">
                <h1 class="display-4 pt-4">
                    Works
                </h1>
                <hr class="my-4">
            </div>
            
            <div id="prod-row" class="row">

                <div class="col-md-4">
                    <app-work title="title" body="text" link="" imgsrc="/assets/img/dp.jpg"></app-work>
                </div>
                <div class="col-md-4">
                    <app-work title="title" body="text" link="" imgsrc="/assets/img/dp.jpg"></app-work>
                </div>
                <div class="col-md-4">
                    <app-work title="title" body="text" link="" imgsrc="/assets/img/dp.jpg"></app-work>
                </div>
                <div class="col-md-4">
                    <app-work title="title" body="text" link="" imgsrc="/assets/img/dp.jpg"></app-work>
                </div>
                <div class="col-md-4">
                    <app-work title="title" body="text" link="" imgsrc="/assets/img/dp.jpg"></app-work>
                </div>
                <div class="col-md-4">
                    <app-work title="title" body="text" link="" imgsrc="/assets/img/dp.jpg"></app-work>
                </div>

            </div>
        </div>
    </div>
</div>