<div id="works" class="homepls">
    <div class="container pt-4 pb-5">
        <div class="jumbotron">
            <div class="text-center text-light text-bold">
                <h1 class="display-4 pt-4">
                    Works
                </h1>
                <hr class="my-4">
            </div>
            <div id="prod-row" class="row">
                <div class="{{columnSize}}">
                    <app-work 
                        title="Dango Ya" 
                        body="Unity Game" 
                        link="https://play.google.com/store/apps/details?id=com.shadabiral.dangoya" 
                        imgsrc="/assets/img/works/unity/dangoya.png">
                    </app-work>
                </div>
                <div class={{columnSize}}>
                    <app-work 
                        title="Orbs Beats" 
                        body="Unity Game" 
                        link="https://play.google.com/store/apps/details?id=com.shadabiral.beatsorbs" 
                        imgsrc="/assets/img/works/unity/orbsbeats.png">
                    </app-work>
                </div>
                <div class={{columnSize}}>
                    <app-work 
                        title="Fox In The Clouds" 
                        body="Unity Game" 
                        link="https://play.google.com/store/apps/details?id=com.shadabiral.foxintheclouds" 
                        imgsrc="/assets/img/works/unity/foxintheclouds.png">
                    </app-work>
                </div>
                <div class={{columnSize}}>
                    <app-work 
                        title="Flappy Apple Pineapple" 
                        body="Construct2 Game" 
                        link="https://play.google.com/store/apps/details?id=com.studiolushai.applepineapple" 
                        imgsrc="/assets/img/works/unity/ppap.png">
                    </app-work>
                </div>
                <div class={{columnSize}}>
                    <app-work 
                        title="Janky Mouse" 
                        body="Defold Game" 
                        link="https://play.google.com/store/apps/details?id=com.shadabiral.mightymouse" 
                        imgsrc="/assets/img/works/unity/janky.png">
                    </app-work>
                </div>
            </div>
        </div>
    </div>
</div>